<div class="row">
    <div class="col m12">
        <h1>{{ post.title }}</h1>
        <div><img src="{{ asset(post.thumbnail.getPublicPath) }}" alt="{{ post.thumbnail.alt }}"></div>
        <div>{{ post.content }}</div>
    </div>
</div>
